# Uses the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

jobs:
  build-and-test: # This is the name of the job, feel free to change it to better match what you're trying to do!
    docker:
      - image: daleatbud/robotframework-docker:0.0.1
        auth:
          username: daleatbud
          password: $DOCKERHUB_PASSWORD
    working_directory: .

    steps:
      - run:
          name: Run tests
          command: |
            run
            -e ROBOT_OPTIONS="--nostatusrc"
            -e ROBOT_THREADS=2
            -v ${PWD}/reports:/opt/robotframework/reports:Z
            -v ${PWD}/testfiles/TestCases:/opt/robotframework/tests:Z
            -v ${PWD}/testfiles/Resources:/opt/robotframework/Resources:Z
            -v ${PWD}/testfiles/PageObjects:/opt/robotframework/PageObjects:Z
            -e BROWSER=chrome
            --user $(id -u):$(id -g)
            daleatbud/robotframework-docker:0.0.1
            echo 'Hello World!'

# Invoke jobs via workflows
workflows:
  runrobottestsworkflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run. In this case we have just the one job defined above.
    jobs:
      - build-and-test