# Uses the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

jobs:
  build-and-test: # This is the name of the job, feel free to change it to better match what you're trying to do!
    docker:
      - image: daleatbud/robotframework-docker:0.0.1
        auth:
          username: daleatbud
          password: $DOCKERHUB_PASSWORD
    working_directory: .

    steps:
      - checkout
      - run:

      - run:
          name: Run tests
          command: |
            echo 'Hello World!'

# Invoke jobs via workflows
workflows:
  runrobottestsworkflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run. In this case we have just the one job defined above.
    jobs:
      - build-and-test